html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    h1= title
    
    table
      tr
        th="Current"
        td= current
      tr
        th= "All time"
        td= total
      
      a(href="/api")= "See our API"
    
        
    form(method="POST" action="/reset")
      input(type="checkbox" name="current" value="1")
      label= "Current"
      br
      input(type="checkbox" name="all_time" value="1")
      label= "All Time"
      br
        
      input(type= "submit" value="reset")
      
    
