html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    h1= title
    
    table
      tr
        th="Current"
        td= current
      tr
        th= "All time"
        td= total
    
